@media (min-width: 769px) {

    /* Add your CSS rules here */
    .username {

        width: 400px;
    }

    .password {
        width: 400px;
    }

    .login-form {
        border: 1px solid #D3D3D3;
        width: 600px;
        margin: 10px 0px 20px 25%;
        padding: 60px;
    }



    .login-link {
        margin-top: 10px;
        margin-left: 30px;
    }

    .forgot-pass {
        margin-right: 180px;
    }

    .login-btn {
        margin: 20px;
    }

    .registation-contain {
        border: 1px solid #D3D3D3;
        width: 1100px;
        padding: 20px;
    }

    .registation-contain h1 {
        
        /* Center the element horizontally */
        text-align: center;
        padding: 20px;
    }
    

    .select-form {
        width: 450px;
        
    }

    .select-field{
        margin-left: 30px;
    }
    
    hr{
        border-color: black;
    }

    .small-form{
        width: 160px;
    }

    .address-form{
        width: 460px;
    }

    .province-form{
        width: 300px;
    }

    .street-form{
        width: 800px;
    }

    .street-group{
        margin-left: 10px;
    }


}

.login-link {
    margin-top: 10px;
    margin-left: 30px;
}

.forgot-pass {
    margin-right: 120px;
}

.login-btn {
    margin: 20px;
}

.login-btn {
    margin: 20px;
}

hr{
    border-color: black;
}